<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>lat</key>
		<real>42.34738</real>
		<key>lon</key>
		<real>-71.554298</real>
	</dict>
	<key>2</key>
	<dict>
		<key>lat</key>
		<real>42.35791</real>
		<key>lon</key>
		<real>-71.059399</real>
	</dict>
	<key>3</key>
	<dict>
		<key>lat</key>
		<real>42.35385</real>
		<key>lon</key>
		<real>-71.069784</real>
	</dict>
	<key>4</key>
	<dict>
		<key>lat</key>
		<real>42.353026</real>
		<key>lon</key>
		<real>-71.076908</real>
	</dict>
	<key>5</key>
	<dict>
		<key>lat</key>
		<real>42.350552</real>
		<key>lon</key>
		<real>-71.041546</real>
	</dict>
	<key>6</key>
	<dict>
		<key>lat</key>
		<real>42.36571</real>
		<key>lon</key>
		<real>-71.055708</real>
	</dict>
	<key>7</key>
	<dict>
		<key>lat</key>
		<real>42.365869</real>
		<key>lon</key>
		<real>-71.061888</real>
	</dict>
	<key>8</key>
	<dict>
		<key>lat</key>
		<real>42.618297</real>
		<key>lon</key>
		<real>-70.666122</real>
	</dict>
	<key>9</key>
	<dict>
		<key>lat</key>
		<real>43.07591</real>
		<key>lon</key>
		<real>-70.761566</real>
	</dict>
	<key>10</key>
	<dict>
		<key>lat</key>
		<real>44.339565</real>
		<key>lon</key>
		<real>-68.219604</real>
	</dict>
	<key>11</key>
	<dict>
		<key>lat</key>
		<real>42.059489</real>
		<key>lon</key>
		<real>-70.20813</real>
	</dict>
	<key>12</key>
	<dict>
		<key>lat</key>
		<real>41.263356</real>
		<key>lon</key>
		<real>-70.035095</real>
	</dict>
	<key>13</key>
	<dict>
		<key>lat</key>
		<real>41.45302</real>
		<key>lon</key>
		<real>-70.562439</real>
	</dict>
	<key>14</key>
	<dict>
		<key>lat</key>
		<real>42.39009</real>
		<key>lon</key>
		<real>-71.103516</real>
	</dict>
	<key>15</key>
	<dict>
		<key>lat</key>
		<real>42.281373</real>
		<key>lon</key>
		<real>-71.41799899999999</real>
	</dict>
</dict>
</plist>
